.login-form-footer {
  padding: 25px;
  margin-top: 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -25px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  .btn {
      padding: 10px 20px !important;
      font-size: 16px !important;
      font-weight: 400 !important;
  }
}