
<app-form-holder title="Signup" (submit)="signup();">
  <app-input
    name="firstname"
    [isRequesting]="isRequesting"
    [response]="response"
    (change)="changeInput('firstname', $event)"
    placeholder="Your firstname">
  </app-input>
  <app-input
    name="lastname"
    [isRequesting]="isRequesting"
    [response]="response"
    (change)="changeInput('lastname', $event)"
    placeholder="Your lastname">
  </app-input>
  <app-input
    name="email"
    icon="email"
    type="email"
    [isRequesting]="isRequesting"
    [response]="response"
    (change)="changeInput('email', $event)"
    placeholder="Your email">
  </app-input>
  <app-input
    icon="vpn_key"
    name="password"
    type="password"
    [isRequesting]="isRequesting"
    [response]="response"
    (change)="changeInput('password', $event)"
    placeholder="Your password">
  </app-input>

  <app-input
    icon="vpn_key"
    name="password2"
    type="password"
    [isRequesting]="isRequesting"
    [response]="response"
    (change)="changeInput('password2', $event)"
    placeholder="Repeat Your password">
  </app-input>
  <a routerLink='/login' class="link">Or signin now.</a>
  <div class="login-form-footer">
    <a (click)="signup()" class="btn-block btn btn-primary">Sign up</a>
  </div>
</app-form-holder>
