<section class="login-page social-login">
  <div class="login-container boxed-login">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 no-float" style="position: relative;">
      <div class="login-form-container">
        <div class="loading-container">
          <app-loading *ngIf="isRequesting"></app-loading>
        </div>
        <div class="j-forms">
          <div class="login-form-header">
              <h2>Signup</h2>
          </div>
          <form (submit)="signup()" >
            <div class="login-form-content">
              <app-input
                name="firstname"
                [isRequesting]="isRequesting"
                [response]="response"
                (change)="changeInput('firstname', $event)"
                placeholder="Your firstname">
              </app-input>
              <app-input
                name="lastname"
                [isRequesting]="isRequesting"
                [response]="response"
                (change)="changeInput('lastname', $event)"
                placeholder="Your lastname">
              </app-input>

              <app-input
                name="email"
                icon="email"
                type="email"
                [isRequesting]="isRequesting"
                [response]="response"
                (change)="changeInput('email', $event)"
                placeholder="Your email">
              </app-input>

              <app-input
                icon="vpn_key"
                name="password"
                type="password"
                [isRequesting]="isRequesting"
                [response]="response"
                (change)="changeInput('password', $event)"
                placeholder="Your password">
              </app-input>
              
              <app-input
                icon="vpn_key"
                name="password2"
                type="password"
                [isRequesting]="isRequesting"
                [response]="response"
                (change)="changeInput('password2', $event)"
                placeholder="Repeat Your password">
              </app-input>
              
              <a routerLink='/login' class="link">Or signin now.</a>
            </div>
            <div class="login-form-footer">
              <a (click)="signup()" class="btn-block btn btn-primary">Sign up</a>
            </div>
          </form>
          
     
        </div>

     
      </div>
    </div>
  </div>
</section>
 