<div class="box-wrapper">
  <div class="widget-header block-header margin-bottom-0 clearfix">
    <div class="pull-left">
      <h3>{{title}}</h3>
      <p>{{subtitle}}</p>
    </div>
  </div>
  <hr/>
  <div class="widget-container">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="j-forms">
            <div class="form-content">
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>