<div class="box-wrapper">
  <div class="row">
    <div class="box-title">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="d-2 elips-inner-content">
            <h2 [title]="maintitle" class="app-page-title" translate>{{maintitle}}</h2>
            <p [title]="subtitle" translate>{{subtitle}}</p>
        </div>
        <div class="d-2">
          <ng-content select=[action-button]></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="j-forms">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>