<app-page-header title="Edit location" icon="icon icon-camera-alt"></app-page-header>

<div class="body">

  <app-forms-text-input
    placeholder="Location name"
    icon="icon icon-user"
    name="Location name"
    [value]="location.name"
    (onChange)="onInputChange('name', $event)"
    >
  </app-forms-text-input>

  <app-forms-select-input
    placeholder="Select the icon"
    icon="icon icon-user"
    name="Location Icon"
    [selected]="location.icon"
    [options]="defaultIcons"
    (onChange)="onInputChange('icon', $event)"
    >
  </app-forms-select-input>



  <a (click)="formSubmit()" class="btn btn-primary" *ngIf="mode == 'new'">Create new location</a>
  <a (click)="formSubmit()" class="btn btn-primary" *ngIf="mode == 'edit'">Edit location</a>

</div>