<div class="page-container">
  <table class="flatTable">
    <tr class="titleTr">
      <td class="titleTd">My workspace users</td>
      <td colspan="4"></td>
      <td class="plusTd button"></td>
    </tr>
    <tr class="headingTr">
      <td>Email</td>
      <td>Name</td>
      <td>Last activity</td>
      <td>Access</td>
      <td>STATUS</td>
      <td></td>
    </tr>
    
    <tr *ngFor="let user of users;">
      <td>{{user.Email}}</td>
      <td>{{user.Name}}</td>
      <td>{{user.LastActivity}}</td>
      <td>

        <select name="" id="" (change)="changeUserRole(user.id, $event.target.value)">
          <option [value]="role.id" *ngFor="let role of roles">
            {{role.title}}
          </option>
        </select>
      </td>
      <td>Active</td>
      <td class="controlTd">
        <div class="settingsIcons">
          <span class="settingsIcon"><img src="https://i.imgur.com/nnzONel.png" alt="X" /></span>
          <span class="settingsIcon"><img src="https://i.imgur.com/UAdSFIg.png" alt="placeholder icon" /></span>
          <div class="settingsIcon"><img src="https://i.imgur.com/UAdSFIg.png" alt="placeholder icon" /></div>
        </div>  
      </td>
    </tr>
    
  </table>
  
  <div id="sForm" class="sForm sFormPadding">
    <span class="button close"><img src="https://i.imgur.com/nnzONel.png" alt="X"  class="" /></span>
    <h2 class="title">Add a New Record</h2>  
  </div>
</div>