.flatTable {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
  font-weight: bold;
  color: #6b6b6b;
}
.flatTable tr {
  height: 50px;
  background: #d4d1d5;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}
.flatTable td {
  box-sizing: border-box;
  padding-left: 30px;
}
.flatTable .titleTr {
  height: 70px;
  color: #f6f3f7;
  background: #418a95;
  border: 0px solid;
}
.flatTable .plusTd {
  background: url(https://i.imgur.com/3hSkhay.png) center center no-repeat, rgba(0, 0, 0, 0.1);
}
.flatTable .controlTd {
  position: relative;
  width: 80px;
  background: url(https://i.imgur.com/9Q5f6cv.png) center center no-repeat;
  cursor: pointer;
}
.flatTable .headingTr {
  height: 30px;
  background: #63acb7;
  color: #f6f3f7;
  font-size: 8pt;
  border: 0px solid;
}
.button {
  text-align: center;
  cursor: pointer;
}
.sForm {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: #d4d1d5;
  overflow: hidden;
  transition: width 1s, right .3s;
  padding: 0px;
  box-sizing: border-box;
}
.sForm .close {
  float: right;
  height: 70px;
  width: 80px;
  padding-top: 25px;
  box-sizing: border-box;
  background: rgba(255, 0, 0, 0.4);
}
.sForm .title {
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}
.open {
  right: 0;
  width: 400px !important;
}
.settingsIcons {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
.display {
  width: 300px;
}
.settingsIcon {
  float: right;
  background: #418a95;
  color: #f6f3f7;
  height: 50px;
  width: 80px;
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  transition: width 1s;
}
.settingsIcon:hover {
  background: #1f6873;
}
tr:nth-child(3) .settingsIcon {
  height: 51px;
}
.openIcon {
  width: 80px;
}
