.user-widget-container{

  .background-overlay {
    background: rgba(0,0,0,0.1);
    &:after{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .5;
      background-image: url('/assets/images/userbg.png');
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
    i {
      font-size: 17px;
      color: rgba(255,255,255,0.8)
    }
  }
  position:relative;
  margin-bottom:15px;
  .date-time{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:150px;
    padding:50px 30px 15px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.74) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.74)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.74) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.74) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.74) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.74) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

    > span{
      display: inline-block;
      color: white;
      font-size: 19px;
    }

    .q-week-day{
      display: block;
    }
    .q-month,.q-day{
      font-size: 40px;
    }
    .q-day{
      position: relative;
      > span{
        font-size:14px;
        position: absolute;
        top: 10px;
        right:-15px;
      }
    } 
    .q-time{
      float: right;
      margin-top:20px;
    }
  }

  .avatar{
    text-align: center;
    padding: 15px;
    img{
      width: 100px;
    }
  }

  .user-detail{
    text-align: center;
    color: #fff;
    font-size: 22px;
    .ud-title + .ud-user{
      padding-bottom: 40px;
    }
  }

  .user-accesory{
    padding: 5px 25px 15px;
    display: flex;
    text-align: center;
    > div{
      flex: 1;
      > a{
        text-decoration: none;
        width: 40px;
        height: 30px;
        padding-top: 0.5em;
        background: rgba(0, 0, 0, 0.1);
        display: inline-block;
        border-radius: 5px;
        &:hover{
            background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}