<section class="login-page social-login">
  <div class="login-container boxed-login">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
      <div class="login-form-container">
        <div class="j-forms">
          <div class="login-form-header">
            <div class="logo">
              <img src="assets/images/logo.png" alt="logo">
              <span>Smart home</span>
            </div>
          </div>
          <form (submit)="login()">
            <div class="login-form-content">
              <div class="unit">
                <div class="input login-input">
                  <label class="icon-left" for="login">
                      <i class="zmdi zmdi-account"></i>
                  </label>
                  <input (change)="changeInput('username', $event.target.value)" class="form-control login-frm-input" type="text" id="login" name="login" placeholder="Username / Email">
                </div>
              </div>

              <div class="unit">
                <div class="input login-input">
                  <label class="icon-left" for="password">
                      <i class="zmdi zmdi-key"></i>
                  </label>
                  <input (change)="changeInput('password', $event.target.value)" class="form-control login-frm-input" type="password" id="password" name="password" placeholder="Password">
                  <span class="hint">
                <a href="#" class="link">Forgot password?</a>
              </span>
                </div>
              </div>

              <div class="unit">
                <label class="checkbox">
                      <input type="checkbox" (change)="changeInput('remember', $event.target.checked)" name="logged" value="true" checked="">
                      <i></i>
                      Keep me logged in
                  </label>
              </div>

              <div class="response"></div>

            </div>
          </form>
          <div class="login-form-footer">
            <a (click)="login()" class="btn-block btn btn-primary">Sign in</a>
          </div>
          <div class="divider-text gap-top-20 gap-bottom-45">
            <span>Social icons</span>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="social-btn twitter">
                <i class="fa fa-twitter"></i>
                <button type="button">Twitter</button>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="social-btn google-plus">
                <i class="fa fa-google-plus"></i>
                <button type="button">Google+</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="social-btn facebook">
                <i class="fa fa-facebook"></i>
                <button type="button">Facebook</button>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="social-btn linkedin">
                <i class="fa fa-linkedin"></i>
                <button type="button">Linkedin</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>