/// Default theme base variables
$navigationWidth: 100px;
$statusBarWidth: 275px;
$theme-inverse:             white;
$theme-color:               rgb(0,203,122);
$primary-text:              #212121;
$secondary-text:            #757575;
$divider:                   #BDBDBD;
$background:                #FFFFFF;
$dialect:                   silver;
$shadow:                    rgba(0,0,0,0.3);

/// Navigation variables
$navigation:                #1a1a1c;
$nav-icon:                  rgb(127,127,127);
$nav-icon-hover:            rgb(49,52,53);
$nav-icon-active:           rgb(170,170,170);


$appinfo:                   #eef1f8;
$container:                 rgb(238,241,247);
$smoothBorder:              1px solid rgba(255,255,255,0.3);


$theme-color-900: #0D47A1;
$theme-color-800: #1565C0;
$theme-color-700: #1976D2;
$theme-color-600: #1E88E5;
$theme-color-500: #2196F3;
$theme-color-400: #42A5F5;
$theme-color-300: #64B5F6;
$theme-color-200: #90CAF9;
$theme-color-100: #BBDEFB;
