
    <div class="quick-status">
        <div class="docked">
            <!-- Load quick-time component-->
            <app-quick-time></app-quick-time>

            <h2>Quick view</h2>
            <div class="flex-container">
                <div class='flex-item' app-large-icon-widget></div>
                <div class='flex-item' app-large-icon-widget></div>
            </div>

            <div class="flex-container">
                <div class='flex-item' app-medium-icon-widget></div>
                <div class='flex-item' app-medium-icon-widget></div>
                <div class='flex-item' app-medium-icon-widget></div>
            </div>

            <!-- Load quick-chart component-->
            <app-quick-chart></app-quick-chart>

            <h2>Netatmo indoor</h2>

            <div class="flex-container bordered-bottom">
                <div class='flex-item' app-large-value-widget></div>
                <div class='flex-item' app-large-value-widget></div>
                <div class='flex-item' app-large-value-widget></div>
            </div>

            <div app-full-widget class="flex-container padding-medium"></div>

            <div class="flex-container bordered-top">
                <div class='flex-item' app-large-value-widget></div>
                <div class='flex-item' app-large-value-widget></div>
            </div>
        </div>
    </div>
    