@import '../../../injects';

.quick-status {


	&::-webkit-scrollbar-track {
	    background-color: white;;
    }
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: rgb(237, 241, 247);
    }

	
	@include gradient(#44d9a1, #38cf80, #02bc56);
	@include transition(width 0.3s);
	position: fixed;
	left:-300px;
	top:0px;
	bottom:0;
	width:300px;
	overflow-x: hidden;
	&.active{
		@include transition(left .5s);
		left:0;

	}
	.calendar-box {
		min-height:200px;
		display: inline-block;
		width:100%;
	}

	h2 {
		font-size:16px;
		text-transform: uppercase;
		color: rgb(218, 245, 233);	
		text-align: center;
		padding-bottom: 20px;
	}
	
	.bordered-bottom {
		padding-bottom:10px;
		border-bottom:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}


	.bordered-top {
		padding-top:10px;
		border-top:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}

	.padding-medium {
		padding:15px 0;
	}
	.medium-icon-widget {
		flex:1;
		.value, .icon, .title {
			display:block;
			text-align:center;
			font-size:12px;
			color:white;
		}
		.icon {
			font-size:30px;
		}
	}

	@media (min-width: $screen-desktop){
		left:100px;
	}
	@media (min-width: $screen-xlg-desktop){
		width:350px;
	}
}
