@import 'injects';

.widget-box {
  position: relative;
  min-height: 90px;
  margin-bottom: 15px;
.main-icon {
  float: left;
  font-size: 66px;
  color: white;
}
    display:flex;
    width: 100%;
    float: left;
    background-color:$theme-color-700;
    
    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: $theme-color-800;
    }
    padding:10px 0;

    .icon-settings {
        font-size:45px;
        color:white;
    }

    .info-box {
        font-size:16px;        
        .name {
            font-size:13px;
            color:white;
        }
    }

    .controlls {
        
        text-align: right;
        padding-top: 15px;
        label {
            margin:5px 0;
            display: block;
        }
        flex:1;
    }
    
}

.view-button {
  background: $theme-color-200;
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 20px;
  right: 0;
  bottom: 0;
  width: 80px;
  display: block;
  text-decoration: none;
  &:hover {
    background-color: $theme-color-300;
  }
}

.value {
  float: right;
  font-size: 26px;
  color: white;
  padding-top: 10px;
}