<app-page-header title="Settings" icon="icon icon-location"></app-page-header>

<div style="padding: 0 15px;">
  <h2>IOT Access Token</h2>
  This token must used when you want to update the dashboard with changes in device. For further usage cases, please refer to the docs.
  <br><br>
  <pre>{{GetDeviceToken()}}</pre>
    <span style="color: red;">Consider this token highly secret. Anybody has this token can make changes on your dashboard or control your 
      devices over network
    </span>
</div>