<div class="base-footer">
  <footer class="footer">
    <div class="row">
      <nav class="col-md-6">
          <ul>
              <li>
                  <a href="#">
                      Home
                  </a>
              </li>
              <li>
                  <a href="#">
                      Company
                  <div class="ripple-container"></div></a>
              </li>
              <li>
                  <a href="#">
                      Github
                  </a>
              </li>
              <li>
                  <a href="#">
                      Blog
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright col-md-6">
          © 2018 <a href="https://github.com/owsolutions">Owsolutions</a>, Inc.
      </div>
    </div>
  </footer>
</div>