<div class="base-footer">
  <footer class="footer">
    <div class="row">
      <nav class="col-md-6">
          <ul>
              <li >
                  <a href="https://esam.io" target="_blank">
                      Home
                  </a>
              </li>
             <li>
                <a href="https://esam.io/#pricing" target="_blank">
                    Pricing
                </a>
             </li>
             <li>
                <a href="https://esam.io/#subscribe" target="_blank">
                    Subscribe
                </a>
             </li>
          </ul>
      </nav>
      <div class="copyright col-md-6">
        © 2018 <a href="https://esam.io">ESAM</a>, Inc. <i class="icon-language"></i> Language  
        <select class="change-lang" (change)="ChangeLanguage($event.target.value)">
            <option *ngFor="let item of langs" [value]="item.lang" [selected]="translate.currentLang === item.lang">{{item.lang | uppercase}}</option>
        </select>
      </div>
    </div>
  </footer>
</div>