
.icon-search:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-adjust:before { content: '\e802'; } /* '' */
.icon-temperatire:before { content: '\e803'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */