<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
      <div class="box-wrapper">
        
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
      <div class="box-wrapper no-padding">
        <app-history-statistics [data]="hs"></app-history-statistics>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="box-wrapper">
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box-wrapper">
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box-wrapper">
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
      <div class="box-wrapper">
        
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
      <div class="box-wrapper">
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="box-wrapper">
        
      </div>
    </div>
  </div>