<svg  version="1.1" 
    id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; max-width:300px; max-height:300px;" xml:space="preserve">
    <g  >
        <path style="fill:#344A5E;" d="M406.4,80H105.6C91.733,80,80,91.733,80,105.6v300.8c0,13.867,11.733,25.6,25.6,25.6h300.8
            c13.867,0,25.6-11.733,25.6-25.6V105.6C432,91.733,420.267,80,406.4,80z"/>
      
        <g class='top-inputs pin-group'>

            <rect x="124.8" y="58.667" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="133.333" class="pin-wire" [ngClass]="getPinValue(0) ? 'active' : ''" (click)="pinClick(0)" width="23.467" height="58.667"/>
            <text x="133.333" y="100.667">{{getPinValue(0)}}</text>

            <rect x="198.4" y="58.667" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="206.933" class='pin-wire' [ngClass]="getPinValue(1) ? 'active' : ''" (click)="pinClick(1)" width="23.467" height="58.667"/>
            <text x="206.933" y="100.667">{{getPinValue(1)}}</text>

            <rect x="272" y="58.667" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="280.533" class="pin-wire" (click)="pinClick(2)" [ngClass]="getPinValue(2) ? 'active' : ''" width="23.467" height="58.667"/>
            <text x="280.533" y="100.667">{{getPinValue(2)}}</text>

            <rect x="345.6" y="58.667" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="355.2" class="pin-wire" (click)="pinClick(3)" [ngClass]="getPinValue(3) ? 'active' : ''" width="23.467" height="58.667"/>
            <text x="355.2" y="100.667">{{getPinValue(3)}}</text>
        </g>

         <g class="right-inputs pin-group">
            <rect x="432" y="124.8" class="pin-collect" width="21.333" height="41.6"/>
            <rect x="453.333" y="133.333" (click)="pinClick(4)" [ngClass]="getPinValue(4) ? 'active' : ''" class="pin-wire" width="58.667" height="23.467"/>
            <text x="400" y="153.333">{{getPinValue(4)}}</text>

            <rect x="432" y="198.4" class="pin-collect" width="21.333" height="41.6"/>
            <rect x="453.333" y="206.933" (click)="pinClick(5)" [ngClass]="getPinValue(5) ? 'active' : ''" class="pin-wire" width="58.667" height="23.467"/>
            <text x="400" y="226.933">{{getPinValue(5)}}</text>
            
            <rect x="432" y="272" class="pin-collect" width="21.333" height="41.6"/>
            <rect x="453.333" y="280.533" (click)="pinClick(6)" [ngClass]="getPinValue(6) ? 'active' : ''" class="pin-wire" width="58.667" height="23.467"/>
            <text x="400" y="300.533">{{getPinValue(6)}}</text>

            <rect x="432" y="345.6" class="pin-collect" width="21.333" height="41.6"/>
            <rect x="453.333" y="355.2" (click)="pinClick(7)" [ngClass]="getPinValue(7) ? 'active' : ''" class="pin-wire" width="58.667" height="23.467"/>
            <text x="400" y="375.2">{{getPinValue(7)}}</text>
        </g>

        <g class="bottom-output pin-group">
            <rect x="345.6" y="432" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="355.2" y="453.333" class="pin-wire" (click)="pinClick(8)" [ngClass]="getPinValue(8) ? 'active' : ''" width="23.467" height="58.667"/>
            <text x="355.2" y="425">{{getPinValue(8)}}</text>

            <rect x="272" y="432" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="280.533" y="453.333" class="pin-wire" (click)="pinClick(9)" [ngClass]="getPinValue(9) ? 'active' : ''"  width="23.467" height="58.667"/>
            <text x="280" y="425">{{getPinValue(9)}}</text>

            <rect x="198.4" y="432" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="206.933" y="453.333" class="pin-wire" (click)="pinClick(10)" [ngClass]="getPinValue(10) ? 'active' : ''" width="23.467" height="58.667"/>
            <text x="206" y="425">{{getPinValue(10)}}</text>

            <rect x="124.8" y="432" class="pin-collect" width="41.6" height="21.333"/>
            <rect x="133.333" y="453.333" class="pin-wire" [ngClass]="getPinValue(11) ? 'active' : ''" (click)="pinClick(11)" width="23.467" height="58.667"/>
            <text x="133" y="425">{{getPinValue(11)}}</text>
        </g>

       
        <g class='left-outputs pin-group'>
            <rect x="58.667" y="345.6" class="pin-collect" width="21.333" height="41.6"/>
            <rect y="355.2" class="pin-wire" (click)="pinClick(12)" width="58.667" height="23.467" [ngClass]="getPinValue(12) ? 'active' : ''" />
            <text x="86" y="370">{{getPinValue(12)}}</text>

            <rect x="58.667" y="272" class="pin-collect" width="21.333" height="41.6"/>
            <rect y="280.533" class="pin-wire" (click)="pinClick(13)" width="58.667" height="23.467" [ngClass]="getPinValue(13) ? 'active' : ''"/>
            <text x="86" y="300">{{getPinValue(13)}}</text>

            <rect x="58.667" y="198.4" class="pin-collect" width="21.333" height="41.6"/>
            <rect y="206.933" class="pin-wire" (click)="pinClick(14)" [ngClass]="getPinValue(14) ? 'active' : ''" width="58.667" height="23.467"/>
            <text x="86" y="226">{{getPinValue(14)}}</text>

            <rect x="58.667" y="124.8" class="pin-collect" width="21.333" height="41.6"/>
            <rect y="133.333" class="pin-wire" (click)="pinClick(15)" width="58.667" [ngClass]="getPinValue(15) ? 'active' : ''" height="23.467"/>
            <text x="86" y="154">{{getPinValue(15)}}</text>
        </g>

        <!-- This dialog overlays on chip, when a pin is clicked. -->
        <g class="pin-focused-dialog" *ngIf="focusedPin" (mouseleave)="focusedDialogLeave()">
          <rect x="90" y="90" style="fill:white" width="330" height="330" />
          <text class="dialog-title" x="100" y="130">
            {{focusedPin.type.toUpperCase()}} {{focusedPin.id}}
          </text>
          <text class="dialog-value" x="100" y="170">
            Value: {{focusedPin.value}}
          </text>
        </g>
         

    </g>
</svg>
