@import 'injects';
.material-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #adadad;
  margin-bottom: 35px;
  input {
      font-size: 15px;
      color: #555555;
      line-height: 1.2;
      display: block;
      width: 100%;
      height: 45px;
      background: transparent;
      padding: 0 5px;
      outline: none;
      border: none;
      overflow: visible;
      &:focus + .focus-input{
          &:after {
              top: -10px;
              font-size: 12px;
              color: #aaa;
          }
          &:before {
              width: 100%;
          }
      }
      &.focused + .focus-input{
          &:after {
              top: -10px;
              font-size: 12px;
              color: #aaa;
          }
          &:before {
              width: 100%;
          }
      }
  }
  .focus-input {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
          
          background: #6a7dfe;
          background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
          background: -o-linear-gradient(to left, #21d4fd, #b721ff);
          background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
          background: linear-gradient(to left, #21d4fd, #b721ff);
      }
      &:after {
          font-size: 15px;
          color: #999999;
          line-height: 1.2;
          
          content: attr(data-placeholder);
          display: block;
          width: 100%;
          position: absolute;
          top: 16px;
          left: 0px;
          padding-left: 5px;
          
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
      }
  }

  .btn-show-pass {
      font-size: 15px;
      color: #999999;
      
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      padding-right: 5px;
      cursor: pointer;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      &:hover {
          color: #6a7dfe;
          color: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
          color: -o-linear-gradient(to left, #21d4fd, #b721ff);
          color: -moz-linear-gradient(to left, #21d4fd, #b721ff);
          color: linear-gradient(to left, #21d4fd, #b721ff);
      }
      &.active {
          color: #6a7dfe;
          color: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
          color: -o-linear-gradient(to left, #21d4fd, #b721ff);
          color: -moz-linear-gradient(to left, #21d4fd, #b721ff);
          color: linear-gradient(to left, #21d4fd, #b721ff);
      }
  }
}

.error-message {
  font-size: 13px;
  color: $error-color-800;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}


.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
  .wrap-login {
    width: 390px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 45px 45px 33px 45px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);

    @include phone () {
      padding: 15px;
    }
    .login-header {
      font-size: 23px;
      padding-bottom: 10px;
      span {
        display: inline-block;
        margin-bottom: 10px
      }
      p {
        font-size: 15px;
      }
    }
    .login-button {
      margin: 25px 0;
      button {
        border-radius: 3px;
        padding-right: 25px;
        padding-left: 25px;
      }
    }
    .message {
      font-size: 15px;
    }
  }
}