


$mg_100: #C8E6C9;
$mg_200: #A5D6A7;
$mg_300: #81C784;
$mg_400: #66BB6A;
$mg_500: #4CAF50;
$mg_600: #43A047;

$mgray_100: #C8E6C9;
$mgray_200: #A5D6A7;
$mgray_300: #81C784;
$mgray_400: #66BB6A;
$mgray_500: #4CAF50;
$mgray_600: #43A047;


.widget-box {
    display:flex;
    background-color:#00cb7a;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color:#43A047;
    }
    margin:7.5px;
    padding:10px 0;

    .icon {
        font-size:45px;
        color:white;
    }

    .info-box {
        flex:2;
        font-size:16px;
        margin-left:15px;
        
        .name {
            font-size:13px;
            color:white;
        }
    }

    .controlls {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label {
            margin:5px 0;
            display: block;
        }
        flex:1;
    }
    
}