.widget-box {
    display:flex;
    width: 100%;
    float: left;
    background-color:#00cb7a;
    
    &:hover {
        transition: 0.3s all ease-in-out;
        background-color:#43A047;
    }
    margin:7.5px 0;
    padding:10px 0;

    .icon {
        font-size:45px;
        color:white;
    }

    .info-box {
        font-size:16px;
        margin-left:15px;
        
        .name {
            font-size:13px;
            color:white;
        }
    }

    .controlls {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label {
            margin:5px 0;
            display: block;
        }
        flex:1;
    }
    
}