<ul [ngClass]='containerClass'>
  <ng-container *ngFor="let nav of navigation" >
    <li *ngIf="nav" [routerLinkActive]="nav.link ? 'opened' : ''"  (click)="menuToggle($event, nav);$event.stopPropagation()">
      <a class="ngx-menu-item ngx-menu-link-{{nav.class}}" [routerLink]="nav.link">
        <i [class]='nav.icon'></i>
        {{ nav.title | translate }}
      </a>
      <ngx-sidebar *ngIf="nav.children" [navigation]='nav.children' [containerClass]="'child-ul'"></ngx-sidebar>
    </li>
  </ng-container>
</ul>