@import '../../../../injects';

.medium-icon-widget {
    border-right:$smoothBorder;
    flex:1;
    &:last-child {
        border-right:none;
    }
    .value, .icon, .title ,> span{
        display:block;
        text-align:center;
        font-size:11px;
        color:white;
    }
    > span{
        font-size : 22px;
        font-weight: bold;
        padding:5px 0;
    }
    .icon {
        font-size:22px;
        -webkit-animation:spin 9s linear infinite;
        -moz-animation:spin 9s linear infinite;
        animation:spin 9s linear infinite;
    }
}