
    <div class="quick-status">
        <div class="docked">
            
            <app-user-widget></app-user-widget>

            <h2>Quick view</h2>
            <div class="flex-container">
                <div class='flex-item'>
                    <div class="large-icon-widget">
                        <i class="icon" [ngClass]="weatherConditions.largeTemp.icon"></i>
                        <span class="value">{{weatherConditions.largeTemp.degree}}˚</span>
                    </div>
                </div>
                <div class='flex-item'>
                    <div class='flex-item'>
                    <div class="large-icon-widget">
                        <i class="icon" [ngClass]="weatherConditions.smallTemp.icon"></i>
                        <span class="value">{{weatherConditions.smallTemp.degree}}˚</span>
                    </div>
                </div>
                </div>
            </div>

            <div class="flex-container medium-icon-widget-wrapper">
                <div class='flex-item'>
                    <div class="medium-icon-widget">
                        <div class='title'>Wind</div>
                        <i class="icon icon-wind"></i>
                        <div class="value">{{weatherConditions.wind}} km/h</div>
                    </div>
                </div>
                <div class='flex-item'>
                    <div class="medium-icon-widget">
                        <div class='title'>Pressure</div>
                        <span class="midVal">
                            {{weatherConditions.pressure}}
                        </span>
                        <div class="value">hPa</div>
                    </div>
                </div>
                <div class='flex-item'>
                    <div class="medium-icon-widget">
                        <div class='title'>Precipitation</div>
                        <span class="midVal">
                            {{weatherConditions.precipitation}}
                        </span>
                        <div class="value">mm</div>
                    </div>
                </div>
            </div>

            <!-- Load quick-chart component-->
            <app-quick-chart></app-quick-chart>

            <h2>Netatmo indoor</h2>

            <div class="flex-container bordered-bottom">
                <div class='flex-item' app-large-value-widget></div>
                <div class='flex-item' app-large-value-widget></div>
                <div class='flex-item' app-large-value-widget></div>
            </div>

            <div app-full-widget class="flex-container padding-medium"></div>

            <div class="flex-container bordered-top">
                <div class='flex-item' app-large-value-widget></div>
                <div class='flex-item' app-large-value-widget></div>
            </div>
        </div>
    </div>
    