<div id="timeline-container">
  <h4 class='box-title'>
    RECENT ACTIVITY
  </h4>
  <ul>
    <li *ngFor="let activity of activities;" [attr.date-is]="activity.time">
      <span>
        <img *ngIf="activity.iconType == 'image'" src="{{activity.icon}}">
        <i *ngIf="activity.iconType == 'icon'" class="{{activity.icon}}"></i>
      </span>
      <h3><b>{{activity.reason}}</b> {{activity.type}}</h3>
      <div class="description">
        <p>{{activity.description}}</p>
      </div>
    </li>
  </ul>
</div>