.notification-container{
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    color: #aaa;
    position: relative;
    .notification-badge {
        border: 2px solid orange;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 10px;
    }
    cursor: pointer;
    &:hover i{
        color: #4c84ff;
    }
    @media(max-width: 400px) {
        width: 45px;
        height: 50px;
    }
}

.notification-list-wrapper {
    position: fixed;
    top: 4.46em;
    right: 0;
    width: 300px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0px 8px 9px -10px #949191 inset;
    z-index: 2;
    .notification-header {
        margin-bottom: 15px;
        padding: 15px 15px 10px;
        border-bottom: 1px solid #eee;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .no-content {
        text-align: center;
        font-size: 18px;
        padding-top: 15px;
        margin: 20px 15px 15px;
        border: 1px dashed #ddd;
        border-radius: 3px;
        i {
            font-size: 30px;
            color: orange;
            margin-bottom: 10px;
            display: inline-block;
        }
    }
}

.notification-list{
    padding: 0 15px;
    position: absolute;
    top: 70px;
    ul{
        padding: 0;
        li {
            list-style: none;
            display: flex;
            .notification-icon {
                font-size: 23px;
                width: 60x;
                text-align: center;
                i{
                    &.icon-comment {
                        color: orange;
                    }
                    &.icon-call_made {
                        color: green;
                    }
                    &.icon-call_missed {
                        color: red;
                    }
                    &.icon-mail_outline {
                        color: #4c84ff;
                    }
                    &.icon-error {
                        color: #e2a700;
                    }
                    &.icon-add_circle {
                        color: cornflowerblue;
                    }
                    &.icon-add_circle {
                        color: orangered;
                    }
                }
            }
            .notification-content {
                display: inline-block;
                padding-left: 10px;
                .notification-message{
                    font-size: 14px;
                    margin-bottom: 3px;
                    padding-top: 3px;
                }
                .notification-type {
                    color: #aaa;
                    font-size: 12px;
                    display: inline-block;
                }
            }
        }
    }
}
.notification-overlay{
    position: fixed;
    top: 4.45em;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.25)
}

@media (max-width: 767.98px) {
    .notification-list-wrapper {
        top: 4.46em !important;
    }
    .notification-overlay{
        top: 4.45em !important;
    }
}
@media (max-width: 992px) {
    .notification-list-wrapper {
        top: 7.28em;
    }
    .notification-overlay{
        top: 7.28em;
    }
}