<app-page-header title="Reports Summary" icon="icon icon-location"></app-page-header>
<div>
  <div class="col-sm-3 col-xs-6">
    <h2>{{summary.mintemp}}</h2>
    <h4>
      Minimum Temp
    </h4>
  </div>
  <div class="col-sm-3 col-xs-6">
    <h2>{{summary.maxtemp}}</h2>
    <h4>
      Maximum Temp
    </h4>
  </div>
  <div class="col-sm-3 col-xs-6">
    <h2>{{summary.minhumidity}}</h2>
    <h4>
      Minimum Humidity
    </h4>
  </div>
  <div class="col-sm-3 col-xs-6">
    <h2>{{summary.maxhumidity}}</h2>
    <h4>
      Maximum Humidity
    </h4>
  </div>


</div>
