@import 'injects';

.large-icon-status {
    $border: 1px solid rgb(241, 243, 247);
    margin-top:15px;
    border-top:$border;
    border-bottom:$border;
    display:flex;
    
    .large-icon-widget {
        flex: 1;
        text-align:center;
        border-left: $border;
        padding:15px 0;

        &:first-child {
            border-left:none;
        }
        &:nth-child(1) {
            color:rgb(24,219,169);
        }
        &:nth-child(2) {
            color: rgb(0, 195,105);
        }
        &:nth-child(3) {
            color:rgb(0, 212, 252);
        }

        .title {
            font-size:13px;
        }
        .value {
            @include phone () {
                font-size:25px;
            }
            font-size:30px;
            sub {
                font-size:15px;
                top:0;
                margin-left:5px;
            }
        }
        .icon {

            @include phone () {
                font-size:35px;
            }
            font-size:40px;
            margin:15px 0;
            display:block;
        }
    }
    
}