<div class="flex-container medium-icon-widget-wrapper">
  <ng-container *ngFor="let item of items;">
    <div class='flex-item' *ngIf="item.title && item.value && item.icon" >
      <div class="medium-icon-widget">
        <div class='title'>{{item.title}}</div>
        <i class="{{item.icon}}"></i>
        <div class="value">{{item.value}}</div>
      </div>
    </div>

    <div class='flex-item' *ngIf="item.title && item.value && item.value.amount && !item.icon">
      <div class="medium-icon-widget">
        <div class='title'>{{item.title}}</div>
        <span class="midVal">
          {{item.value.amount}}
        </span>
        <div class="value">{{item.value.unit}}</div>
      </div>
    </div>
  </ng-container>
 
  
</div>