<div class="flex-container medium-icon-widget-wrapper">
  <div class='flex-item'>
    <div class="medium-icon-widget">
      <div class='title'>Wind</div>
      <i class="icon icon-wind"></i>
      <div class="value">1 km/h</div>
    </div>
  </div>
  <div class='flex-item'>
    <div class="medium-icon-widget">
      <div class='title'>Pressure</div>
      <span class="midVal">
        44
      </span>
      <div class="value">hPa</div>
    </div>
  </div>
  <div class='flex-item'>
    <div class="medium-icon-widget">
      <div class='title'>Precipitation</div>
      <span class="midVal">
          23
      </span>
      <div class="value">mm</div>
    </div>
  </div>
</div>