<div class="row place-row clearfix">

    <div class="col-sm-3 col-xs-6 title-icon">
        <h2>{{location.name}} {{ location.id }} </h2>
        <a routerLink='/locations/edit/{{location.id}}'>
            <img width='200px' [src]="'assets/images/' + location.icon" alt="">
        </a>
    </div>
    <div class="col-sm-3 col-xs-6 value-box">
        <h4>Temperature</h4>
        <div class="value">
            22.8<sup>&#8451;</sup>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 col-xs-6" >
        <h4>Name</h4>
        <ul class="list-names" *ngIf="widgets && widgets.length > 0">
            <li *ngFor="let widget of widgets;">{{widget.name}}</li>
        </ul>
    </div>
    <div class="col-sm-3 col-xs-6" >
        <h4>Status</h4>
        <ul class="list status" *ngIf="widgets && widgets.length > 0">

            <app-output-pin-view *ngFor="let widget of widgets;" [pin]="widget.pin" [device]="widget.device"></app-output-pin-view> 
        </ul>
    </div>
    <div class="col-sm-1">
        <a routerLink='/locations/edit/{{location.id}}' class='next-button'>
            <span class="icon icon-right-big icon-round-next"></span>
        </a>
    </div>

</div>
 