<section class="login-page social-login">
  <div class="login-container boxed-login">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 no-float" style="position: relative;">
      <div class="login-form-container">
        <div class="loading-container">
          <app-loading *ngIf="isRequesting"></app-loading>
        </div>
        <div class="j-forms">
          <div class="login-form-header">
              <h2>{{title}}</h2>
          </div>
          <form (submit)="Onsubmit()" >
            <div class="login-form-content">
              <ng-content></ng-content>
            </div>

           
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
  