@import 'injects';

.page-container {
    padding: 15px;
}


.cards {

    .icon {
        font-size: 48px;
    }

    .card {
        color: $theme-inverse;
        background: $theme-color-900;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 15px;
    }

    .permission-box {
        padding: 15px;
    }

}