<div class="page-container j-forms">
  <div class="cards row">
    <div class="col-md-4 col-sm-6" *ngFor="let role of roles">
      <div class="card">
        <i class="icon icon-user"></i>
        <h2>{{role.title}}</h2>
        <p>{{countRolePermissions(role)}} Users having this role</p>

        <div class="permission-box">
          <div *ngFor="let perm of perms">
            <app-checkbox-input 
              [checked]="roleHasPermission(role, perm)" 
              (onChange)="onPermChange($event, perm, role)" 
              [name]='perm.title'
              >
            </app-checkbox-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


