.input-pin {
    background: white;
    margin:5px 0;
    padding:0;
    display:inline-block;
    .pin-id, .pin-value {
        display:inline-block;
        padding: 5px 3px;
    }
    .pin-id {
        background:rgb(5, 149, 71);
        color: white;
    }
}
