@import 'injects';

nav.navigation {
	background: $navigation;
	
	//@media (min-width: $screen-desktop){
		position: fixed;
		left:0px;
		top:0px;
		bottom:0;
		width:$navigationWidth;
	//}
	@media (max-width: $screen-tablet-max){
		left: -100%;
	}
	.nav-item-container{
		display: flex;
		flex-direction: column;
		@media (max-width: $screen-tablet-max){
			flex-direction: row;
		}
	}
}
