
.quick-status {

	@include gradient(#44d9a1, #38cf80, #02bc56);
	@include transition(width 0.3s);
	position: fixed;
	left:-275px;
	top:0px;
	bottom:0;
	width:275px;

	&.active{
		@include transition(left .5s);
		left:0;

	}
	.calendar-box {
		min-height:200px;
		display: inline-block;
		width:100%;
	}
	.docked {
		margin-right:30px;
		margin-left:30px;
	}
	h2 {
		font-size:16px;
		text-transform: uppercase;
		color: rgb(218, 245, 233);	
	}
	.large-icon-widget {
		text-align:center;
		flex:1;
		.value, .icon {
			font-size:26px;
			color:white;
		}
	}

	
	.medium-icon-widget {
		border-right:$smoothBorder;
		flex:1;
		&:last-child {
			border-right:none;
		}
		.value, .icon, .title {
			display:block;
			text-align:center;
			font-size:11px;
			color:white;
		}
		.icon {
			font-size:22px;
			-webkit-animation:spin 9s linear infinite;
			-moz-animation:spin 9s linear infinite;
			animation:spin 9s linear infinite;
		}
	}

	.large-value-item {
		flex:1;

		sup {
			top:-12px;
			font-size:12px;
		}
		.value,.title {
			color:white;
			text-align:center;
		}
		.value {
			font-size:30px;
		}
	}

	.bordered-bottom {
		padding-bottom:10px;
		border-bottom:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}


	.bordered-top {
		padding-top:10px;
		border-top:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}

	.padding-medium {
		padding:15px 0;
	}

	.single-large-icon {
		text-align:center;
		flex:1;
		.icon {
			color:white;
			font-size:45px;
		}
	}

	.medium-icon-widget {
		flex:1;
		.value, .icon, .title {
			display:block;
			text-align:center;
			font-size:12px;
			color:white;
		}
		.icon {
			font-size:30px;
		}
	}

	@media (min-width: $screen-desktop){
		left:$navigationWidth;
	}
	@media (min-width: $screen-xlg-desktop){
		width:$statusBarWidth;
	}
}
