.helper-box {
    overflow-y: scroll;
    border-top:3px solid $theme-color;
    background: #e8e8e2; 
    position:fixed;  
    height: 450px;
    top: 100%;
    height: 450px;
    transform: translateY(0);
    transition: transform 0.5s;
    .helper-box-title {
        background: $theme-color;
        margin: 0;
        font-size: 17px;
        padding: 9px 15px 9px;
        color: white;
    }
    &.active{
        transform: translateY(-100%);
    }   

    @media (min-width: $screen-desktop){
        left:400px;
        right:0px;
    }
    @media (min-width: $screen-1366 + 1){
        right:300px;
    }
    @media (min-width: $screen-xlg-desktop){
        left:450px;
        right:350px;
    }
}
