<app-progress-line *ngIf="isRequesting"></app-progress-line>

<app-error-message *ngIf="response && response.error">
  {{response.error.message}}
</app-error-message>

<app-device-general-information [response]="response" [mode]="form.id ? 'edit': 'new'" [device]="form" 
  (onChange)="DeviceGeneralChange($event)" ></app-device-general-information>
<app-device-customization [preferences]="form.preferences" (onChange)="DeviceCustomizationChange($event)"></app-device-customization>

<button (click)="SubmitForm()" class="btn btn-primary" *ngIf="form.id">Edit device</button>
<button (click)="SubmitForm()" class="btn btn-primary" *ngIf="!form.id">Create device</button>
