<app-page-container
  maintitle="Manage your contact details"
  subtitle="Manage your emergency contacts so we can reach you in different situations and events">


  <table class="table app-devices-table">
    <thead>
      <tr>
        <th>Contact Type</th>
        <th>Contact value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" class="app-devices-row">
        <td>
          <select class="form-control" name="contact.type" [(ngModel)]="contact.type">
            <option value="call">Phone call</option>
            <option value="sms">Text message</option>
            <option value="email">Email</option>
          </select>        
        </td>
        <td><input class="form-control" [(ngModel)]="contact.value"></td>
      </tr>
    </tbody>
  </table>

  
  <button (click)="SubmitForm()" class="btn btn-primary app-device-single-edit" >Update the contacts</button>
  
</app-page-container>