<div id="timeline" style="height: 200px; min-width: 310px"></div>

<h4 class='box-title'>
  ALARAM
</h4>
<div id="switch-wrapp">
  <div class="col-md-12">
    <div class="col-sm-4 title">
      Status :
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="c-switch small">
          <input id="alarm" class="cmn-toggle cmn-toggle-round" type="checkbox">
          <label for="alarm" data-checked="OFF" data-unchecked="ON"></label>
        </div>
      </div>
    </div>
  </div>
</div>
