<app-page-header [title]="'Devices ' + devices.length" icon="icon icon-keyboard"></app-page-header>

<div class='page-container'>
  <div class="device-box-container">
    <div *ngFor="let device of devices" class="col-sm-6 padding-box">

      <div class="device-item">
        <h2>{{device | json}}</h2>
        <ng-iot-thermometer ></ng-iot-thermometer>
      </div>
      
    </div>
  </div>
</div>


<div class="clearfix"></div>
<app-helper-box (onFocusLost)="unfocus();" [device]="focusedDevice" [pin]="focusedPin">  </app-helper-box>