<app-page-header [title]="'Devices ' + devices.length" icon="icon icon-keyboard"></app-page-header>

<!-- <div class='page-container'>
  <div class="device-box-container">
    <div *ngFor="let device of devices" class="col-sm-6 padding-box">
      <ng-iot-device-ic [device]="device" (onFocusDevice)="clickDispatch($event);"></ng-iot-device-ic>
    </div>
  </div>
</div> -->


<div id="thermometer">
    <div id="thermometer-top">
        <div id="thermometer-fill"></div>
    </div>
    <div id="thermometer-bottom">
        <span>0</span>
    </div>
</div>
 


<div class="clearfix"></div>
<app-helper-box (onFocusLost)="unfocus();" [device]="focusedDevice" [pin]="focusedPin">  </app-helper-box>