<div class="chart-wrapper ">
    
    <div class="range-selector-wrapper  hidden-xs ">
        <button *ngFor="let exp of chartExt" class="setChartEx" [ngClass]="exp === expFocus ? 'pressed' : ''" (click)="setChartExtreme(exp)">{{exp}}</button>
    </div>
    <div id="container" style="height: 325px; min-width: 310px"></div>
    <select class="form-control visible-xs" (change)="setChartExtreme($event.target.value)">
        <option *ngFor="let exp of chartExt" [value]="exp">{{exp}}</option>
    </select>
</div>

<div class="large-icon-status">
    <div class="large-icon-widget legend-chart"  *ngFor="let widget of largeWidgets; let i = index" [attr.data-set]="i">
        <div class="title">{{widget.title}}</div>
        <i class="{{widget.icon}}"></i>
        <div class="value">{{widget.value}}<sub>{{widget.unit}}</sub></div>
    </div>
</div>