
<div class="chart-wrapper">
    <div class="range-selector-wrapper">
        <button class="setChartEx" data_set="half_hour">30M</button>
        <button class="setChartEx pressed" data_set="hour">HOUR</button>
        <button class="setChartEx" data_set="day">DAY</button>
        <button class="setChartEx" data_set="week">WEEK</button>
        <button class="setChartEx" data_set="month">MONTH</button>
        <button class="setChartEx" data_set="year">YEAR</button>
    </div>
    <div id="container" style="height: 325px; min-width: 310px"></div>
</div>

<div class="large-icon-status">
    <div class="large-icon-widget legend-chart"  *ngFor="let widget of largeWidgets; let i = index" [attr.data-set]="i">
        <div class="title">{{widget.title}}</div>
        <i class="{{widget.icon}}"></i>
        <div class="value">{{widget.value}}<sub>{{widget.unit}}</sub></div>
    </div>
</div>