<div class="chart-wrapper">
    <div class="range-selector-wrapper">
        <button class="setChartEx" data_set="half_hour">30M</button>
        <button class="setChartEx pressed" data_set="hour">HOUR</button>
        <button class="setChartEx" data_set="day">DAY</button>
        <button class="setChartEx" data_set="week">WEEK</button>
        <button class="setChartEx" data_set="month">MONTH</button>
        <button class="setChartEx" data_set="year">YEAR</button>
    </div>
    <div id="container" style="height: 400px; min-width: 310px"></div>
</div>

<button class="legend-chart" data_set="1">Serie1</button>
<button class="legend-chart" data_set="2">Serie2</button>
<button class="legend-chart" data_set="3">Serie3</button>
 