@import '../../../injects';
.highcharts-range-selector-buttons,.highcharts-scrollbar {
    visibility:hidden;
}

.range-selector-wrapper {
    right:10px;
    top:60px;
    z-index:1;
    position:absolute;

    @include phone() {
        display:none;
    }
    
}

.setChartEx{
    background: transparent;
    border:2px solid lightgray;
    color: lightgray;
    padding:7px 9px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin-left:5px;
}
.setChartEx:hover,.setChartEx.pressed{
    border:2px solid gray;
    color: gray;
}

.highcharts-axis-labels.highcharts-yaxis-labels span{
    background:#e1e1e1;
    border-radius:5px;
    color:gray;
    padding:3px 5px;
    opacity:0 !important;
    transition: opacity .5s
}
.chart-wrapper:hover .highcharts-axis-labels.highcharts-yaxis-labels span{
    opacity:1 !important;
    transition: opacity .5s;
    position:relative;
}
