.temperature-wrapper{
    position: relative;
}
.temperature{
    width: 175px;
    height: 150px;
    border-radius: 22px/95px;
    border-left: 170px solid #d2d6e1;
    border-right: 5px solid #d2d6e1;
    margin: 40px auto;
    position: relative;
    &:after{
        content: " ";
        width: 157px;
        height: 175px;
        border-top: 172px solid #d2d6e1;
        border-bottom: 5px solid #d2d6e1;
        border-radius: 100px/30px;
        position: absolute;
        top: -13px;
        left: -161px;
    }
}
.temperature-mask{
    width: 175px;
    height: 150px;
    border-radius: 22px/95px;
    border-left: 170px solid #FFF;
    border-right: 5px solid #FFF;
    margin: 0 auto;
    position: relative;
    left: -170px;
    z-index: 1;
    transform: scale(.95);
    &:after{
        content: " ";
        width: 157px;
        height: 175px;
        border-top: 172px solid #FFF;
        border-bottom: 5px solid #FFF;
        border-radius: 100px/30px;
        position: absolute;
        top: -13px;
        left: -161px;
    }
}
.digit-wrapp{
    overflow: hidden;
    height: 108px;
    width: 65px;
    font-family: 'FFF-Forward';
    border: 3px solid #d2d6e1;
    background: #eef1f8;
    font-size: 25px;
    text-align: center;
    color: #eef1f8;
    -webkit-text-stroke: 2px #d2d6e1;
    transition: all 0.5s;
    position: absolute;
    top: 20px;
    left: -115px;
    right: 100%;
    z-index: 2;
    padding-left: 7px;
    
    &.animation-add{
        div[class^="digi"]{
            transform: translateY(45px);
            transition: transform .25s;
            &:first-child{
                color: #d2d6e1;
                -webkit-text-stroke: 0px #d2d6e1;
            }
            &.current{
                color: #eef1f8;
                -webkit-text-stroke: 2px #d2d6e1;
            }
        }
    }
    &.animation-sub{
        div[class^="digi"]{
            transform: translateY(-45px);
            transition: transform .25s;
            &.current{
                color: #eef1f8;
                -webkit-text-stroke: 2px #d2d6e1;
                + div{
                    color: #d2d6e1;
                    -webkit-text-stroke: 0px #d2d6e1;
                }
            }
        }
    }
    div[class^="digi"]{
        position: relative;
        top: -44px;
        margin:10px 0;
        &.current{
            color: #d2d6e1;
            -webkit-text-stroke: 0px #d2d6e1;
        }
    }
}
.temp-button{
    border-radius:50%;
    width: 40px;
    padding: 0px 0 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    background: #FFF;
    border: 0px;
    color: #d2d6e1;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    position: absolute;
    top: 40px;
    &:nth-child(3){
        right: 10px;
    }
}