<h3 class='box-title'>
  THERMOSTAD
</h3>
<div class="temperature-wrapper">
  <div class="temperature">
    <div class="temperature-mask"></div>
    <div id="digits" class="digit-wrapp">
      <div *ngFor="let temp of tempratures; let i = index" class="digi-{{i}}" [ngClass]="[temp==nowTemp ? 'current' : '']">
        {{temp}}<sup>˚</sup>
      </div>
    </div>
  </div>
  <button class="temp-button" (click)="changeTemp('add')">+</button>
  <button class="temp-button" (click)="changeTemp('sub')">-</button>
</div>