<md-toolbar class='mat-primary'>
  Dashboard Admin
</md-toolbar>
 

<nav class="main-menu">
  <ul>
      <li>
          <a routerLink='/index'>
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>
      </li>
      <li class="has-subnav">
          <a routerLink='/summary'>
              <i class="fa fa-laptop fa-2x"></i>
              <span class="nav-text">
                  Reports summary
              </span>
          </a>
      </li> 
  </ul>

  <ul class="logout">
      <li>
          <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
 

<div class='doc--content-container clearfix'>
  <router-outlet></router-outlet>
</div>
 