<div class="app-container">

    <!-- dashboard title [only show on mobile and tablet view] -->
    <!--<div class="dashboard-title">
        <a href="#">smart dashboard</a>
        <a href="#"></a>
    </div>-->

    <app-navigation></app-navigation>

    <div class="content-box">
        <router-outlet></router-outlet>
    </div>

    <app-quick-status></app-quick-status>

    <div class="app-info">
        <div class="docked">    
            <app-activity-widget></app-activity-widget>
        </div> 
    </div>
</div>

