<span class='output-pin'>
  <span class="pin-value">
    <label *ngIf="findType(pin.value) === 'switch'">
      <input 
        (change)="pin.value = changeDigitalData($event, device, pin)" 
        [checked]="pin.value === 'ON'" type="checkbox" class="ios-switch" 
        [ngClass]="switchSize ? switchSize : 'bigswitch'" 
      >
      <div><div></div></div>
    </label>

    <div class="range-selector" *ngIf="findType(pin.value) === 'input'">
        <input type="range" min="0" max="100" step="0.5" (change)="pin.value = changeAnalogData($event, device, pin)" >
    </div>

  </span>
</span>


