<section>
  <div class="box">
    <div class="container">
      <span class="number">25</span>
      <br />
      Calls 
    </div>
    <div class="fill speed1" style="background : #81c784; "></div>
  </div> 
  
  <div class="box">
    <div class="container">
      <span class="number">53</span>
      <br />
      Emails 
    </div>
    <div class="fill speed2" style="background : #f69679;"></div>
  </div>
   
  <div class="box">
    <div class="container">
      <span class="number">12</span>
      <br />
      SMS 
    </div>
    <div class="fill speed3" style="background : #92bafb;"></div>
  </div>
  
  <div class="box">
    <div class="container">
      <span class="number">69</span>
      <br />
      Letters 
    </div>
    <div class="fill speed4" style="background : #9b92fb;"></div>
  </div>
</section>