<div class="box-wrapper no-padding">
  <div class="hs-container">
    <div class="hs-title" >
      <div class="d-flex d-md-flex d-sm-block d-xs-block align-items-center">
        <div class="d-2">
          <h2>{{title}}</h2>
          <p>{{description}}</p>
        </div>
        <div class="d-2 d-sm-block current-item">
          <div class="d-flex flex-column">
            <div class="d-2">
              20-18-20
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex overflow-hidden position-relative">
      <ng-content></ng-content>

    </div>
  </div>
</div>