<app-page-container maintitle="Device Customization" subtitle="Modify how a device can look and feel among dashboard">
  <div class="row">
    <div class="col-md-12">
      <label class="checkbox" >
        <input type="checkbox" class="app-device-customization-realtime" (change)="TriggerChange();" [(ngModel)]="form.DisplayRealTimeTemperatureInSidebar">
        <i></i> <span translate>Display the real time value in home page</span>
      </label>
      <label class="checkbox">
        <input type="checkbox" class="app-device-customization-history" (change)="TriggerChange();" [(ngModel)]="form.DisplayHistoryStatisticsInHome">
        <i></i> <span translate>Display the device history on home page</span>
      </label>
    </div>  
  </div>
</app-page-container>