<app-page-container maintitle="Device Customization" subtitle="Modify how a device can look and feel among dashboard">
  <div class="row">
    <div class="col-md-12">
      <label class="checkbox" >
        <input type="checkbox" class="app-device-customization-realtime" (change)="TriggerChange();" [(ngModel)]="form.DisplayRealTimeTemperatureInSidebar">
        <i></i> Display the real time value in home page
      </label>
      <label class="checkbox">
        <input type="checkbox" class="app-device-customization-7average" (change)="TriggerChange();" [(ngModel)]="form.DisplayAverageLastWeekInSidebar">
        <i></i> Display the last 7 days average in home page
      </label>
    </div>  
  </div>
</app-page-container>