<div class='page-container row clearfix' *ngIf="devices.length || unconnected.length">
  <div *ngFor="let device of devices" class=" col-sm-12 col col-lg-6">
    <app-switch-widgets [device]="device"></app-switch-widgets>
  </div>
  <div *ngFor="let source of unconnected" class=" col-sm-12 col col-lg-6">
    <app-unconnected-source [dataSource]="source"></app-unconnected-source>
  </div>
</div>

<app-error-message *ngIf="devices.length === 0">
    There are no devices. Please create devices and you will be able to manage them here.
</app-error-message>
  