<app-error-message *ngIf="devices.length === 0">
    There are no devices. Please create devices and you will be able to manage them here.
</app-error-message>

<app-page-container maintitle="Devices" subtitle="All of your Devices in your Application">
  <a class="btn btn-primary add-button" routerLink="../device/create" action-button>Add New Device</a>
  <div ngx-sidebar-off class="table-responsive iot-table">
    <table class="table app-devices-table">
      <thead>
        <tr>
          <th>Device Name</th>
          <th>Data Source</th>
          <th>Type</th>
          <th>Location</th>
          <th>Model</th>
          <th class="action-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let source of unconnected" class="unconnected-row" >
          <td>N/A</td>
          <td>{{source.dataSourceId}}</td>
          <td>
            N/A
          </td>
          <td>N/A</td>
          <td>N/A</td>
          <td>
            <a [routerLink]="'/create-device-from-source/' + source.dataSourceId">
              <i [Tooltip]="'Create device'" class="icon-add"></i>
            </a>
          </td>
        </tr>
        <tr *ngFor="let device of devices" class="app-devices-row">
          <td>{{device.name}}</td>
          <td>{{device.datasource}}</td>
          <td>
            <i [Tooltip]="'Tempreture'" class="icon-thermometer-lines"></i>
            
          </td>
          <td><a [routerLink]="'/locations/edit/' + device.location ">{{FindLocationName (device.location)}}</a></td>
          <td>{{ ! device.model ? 'N/A' : device.model}}</td>
          <td>
            <a [routerLink]="'/device/' + device.id "><i [Tooltip]="'Edit'" class="icon-mode_edit action-btn"></i></a>
            <a (click)="DeleteDevice(device)"><i [Tooltip]="'Delete'" class="icon-delete action-btn"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-page-container>
