@import '../../ngm-assets/style.scss';
.ngm-form-content-img, .ngm-form-content-info {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .ngm-form-content-img {
    left: 0;
    width: 80%;
    text-align: left;
    overflow: auto;
    padding: 30px;
    .editor-buttons {
        margin-bottom: 15px;
    }
    > img {
      max-width: 92%;
      max-height: 90%;
      max-height: calc(100% - 110px);
    }
    .edit-image-button {
      margin: 15px 0;
    }
  }
  .ngm-form-content-info {
    right: 0;
    width: 20%;
    padding: 15px;
    background: #f3f3f3;
    color: #666;
    border-left: 1px solid #ddd;
    overflow: auto;
    box-shadow: inset 0 4px 4px -4px rgba(0,0,0,.1);
    .ngm-form-content-info-detail {
      font-size: 12px;
      margin-bottom: 15px;
      padding-bottom: 15px;
      line-height: 25px;
      border-bottom: 1px solid #ddd;
    }
  }