.fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 5px #bbb;
    @media(max-width: 400px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.f-basic-auto {
    flex-basis: auto !important;
}
.nav-items {
    div:nth-child(1){
        margin-left: 15px;
    }
}
.menu-toggle-button {
    background: transparent;
    outline: none;
    font-size: 28px;
    border: 0px;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
    top: 2px;
}
.navbar-brand{
    float: right;
    font-size: 1.07rem;
    @media(max-width: 400px) {
        font-size: 15px;  
    }
}
.application-nav {
    padding: 0;
}
.active-application-wrapper{
    overflow: hidden;
    float: left;
    .active-application {
        display: table;
        margin-left: 10px;
        > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        .application-title {
            text-indent: 10px;
            max-width: 100px;
            white-space: nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            @media(max-width: 400px) {
                font-size: 13px;  
            }
        }
        .application-avatar {
            width: 43px;
            height: 43px;
            background: #dbe7ff;
            color: #6091fe;
            border-radius: 5px;
            font-weight: bold;
            @media(max-width: 400px) {
                width: 35px;
                height: 35px;
                font-size: 13px;  
            }
        }
    }
}
@media (max-width: 767.98px) {
    .application-nav {
        display: none;
    }
}
@media (min-width: 576px) {
    .application-title {
        text-indent: 10px;
        max-width: initial !important;
    }
    .navbar-brand{
        font-size: 1.25rem;
    }
}
.change-language { 
  font-size: 12px;
}