@import 'injects';

.flat-table {
 
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: 100%;
  
  th {
    background-color: $theme-color-800;
    color: white;
    font-weight: normal;
    padding: 10px 30px;
    text-align: center;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }
}
