<div class="row">
  <div class="box-title">
    <h2>{{device.name}}</h2>
    <p>{{data.subTitle}}</p>
  </div>
</div>
<div class="d-flex widget-value">
  <div class="d-2 widget-lable">
    <p>{{data.for}} : </p>
  </div>
  <div class="d-2 current-value">
    <p>{{device.value}} <sup>{{data.unit}}</sup></p>
  </div>
</div>

<div *ngIf="HasHistory(device)" [id]="chartName" class="chart"></div>

<div *ngIf="!HasHistory(device)" class="no-history">
  There are no history for this device to draw usage chart.
</div>
<div class="row">
  <div class="d-flex st-bar">
    <div class="d-2 col-sm-4">
      22<sup>°</sup>
      <p>Average</p>
    </div>
    <div class="d-2 col-sm-4">
      44 <sup>°</sup>
      <p>Highest</p>
    </div>
    <div class="d-2 col-sm-4">
      18 <sup>°</sup>
      <p>Lowest</p>
    </div>
  </div>
</div>