<ng-container *ngIf="device">
  <div class="row">
    <div class="box-title">
      <h2>{{device.name}} {{token}}</h2>
      <p>{{data.subTitle}}</p>
    </div>
  </div>
  <div class="d-flex widget-value">
    <div class="d-2 widget-lable">
      <p>{{data.for}} : </p>
    </div>
    <div class="d-2 current-value">
      <p>{{device.value}} <sup>{{data.unit}}</sup></p>
    </div>
  </div>

  <div [id]="chartName" class="chart">
    {{chartName}}
  </div>

  
  <div *ngIf="!HasHistory()" class="no-history">
    There are no history for this device to draw usage chart.
  </div>
  <div class="row">
    <div class="d-flex st-bar">
      <div class="d-2 col-sm-4">
        0<sup>°</sup>
        <p>Average</p>
      </div>
      <div class="d-2 col-sm-4">
        0 <sup>°</sup>
        <p>Highest</p>
      </div>
      <div class="d-2 col-sm-4">
        0 <sup>°</sup>
        <p>Lowest</p>
      </div>
    </div>
  </div>
  </ng-container>