<ng-container *ngIf="device">
  <div class="row">
    <div class="box-title">
      <h2 [title]="device.name">{{device.name}}</h2>
      <p [title]="data.subTitle">Available CO<sub>2</sub></p>
    </div>
  </div>
  <span>{{device.value}} ppm</span>
  <app-co2></app-co2>
  <div class="row">
    <div class="d-flex st-bar">
      <div class="d-2 col-sm-4">
        N/A<sup>°</sup>
        <p>Average</p>
      </div>
      <div class="d-2 col-sm-4">
        N/A <sup>°</sup>
        <p>Highest</p>
      </div>
      <div class="d-2 col-sm-4">
        N/A <sup>°</sup>
        <p>Lowest</p>
      </div>
    </div>
  </div>
</ng-container>