<app-progress-line *ngIf="isRequesting"></app-progress-line>
<app-error-message *ngIf="response && response.error">
  {{response.error.message}}
</app-error-message>

<app-page-container maintitle="My profile" subtitle="Manage and edit your personal information and billing data">
  <form>
  <div class="row">
    <div class="col-md-6 unit">
      <label class="label">Firstname:</label>
      <div class="input">
        <input class="form-control app-profile-firstname" 
          [(ngModel)]="form.firstname"
          name="firstname"
          type="text" placeholder="Your first name">
      </div>
    </div>
    <div class="col-md-6 unit">
      <label class="label">Lastname:</label>
      <div class="input">
        <input class="form-control app-profile-lastname" 
          [(ngModel)]="form.lastname"
          name="lastname"
          type="text" placeholder="Your first lastname">
      </div>
    </div>
    <div class="col-md-6 unit">
      <label class="label">Phone:</label>
      <div class="input">
        <input class="form-control app-profile-phone" 
          [(ngModel)]="form.phone"
          name="phone"
          type="text" placeholder="Your first phone">
      </div>
    </div>
  </div>

  <button type="submit" (click)="SubmitForm()" 
    class="btn btn-primary app-profile-update">Update my profile</button>
  </form>
</app-page-container>