<div class="large-icon-status">

    <div class="large-icon-widget theme-green-dark">
        <div class="title">Power</div>
        <i class="icon icon-temperatire"></i>
        <div class="value">504<sub>Wh</sub></div>
    </div>
    <div class="large-icon-widget theme-green-light">
        <div class="title">Consumption</div>
        <i class="icon icon-temperatire"></i>
        <div class="value">31.62<sub>kWh</sub></div>
    </div>
    <div class="large-icon-widget theme-blue">
        <div class="title">Water(marker)</div>
        <i class="icon icon-temperatire"></i>
        <div class="value">43.6<sub>L</sub></div>
    </div>

</div>