@import '../../vars';
@import '../../mixins';


/*
 *  STYLE 3
 */

#style-3
{
    &::-webkit-scrollbar-track {
	    background-color: white;;
    }
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: rgb(237, 241, 247);
    }
	
}
 