 

<div class="large-icon-status">
    <div class="large-icon-widget" *ngFor="let widget of largeWidgets">
        <div class="title">{{widget.title}}</div>
        <i class="{{widget.icon}}"></i>
        <div class="value">{{widget.value}}<sub>{{widget.unit}}</sub></div>
    </div>
</div>


<div class="place-container">
    <div style="overflow-y: scroll; width:100%;" id="style-3">

        <!-- Place row -->
        <div class="place-row" *ngFor="let place of places;">
            <div class="column title-icon">
                <h2>{{place.name}}</h2>
                <i class="icon icon-temperatire"></i>
            </div>

            <div class="column value-box">
                <h4>Temperature</h4>
                <div class="value">
                    22.8<sup>C</sup>
                </div>
            </div>

            <div class="column">
                <h4>Name</h4>
                <ul class="list">
                    <li>Ceiling lighting</li>
                    <li>Worktop lighting</li>
                    <li>Pane windows</li>
                    <li>Fan</li>
                </ul>
            </div>
        </div>
    </div>
</div>