@import '../../vars';
@import '../../mixins';

.large-icon-status {
    $border: 1px solid rgb(241, 243, 247);
    margin-top:15px;
    border-top:$border;
    border-bottom:$border;
    display:flex;

    
    
    .large-icon-widget {
        flex: 1;
        text-align:center;
        border-left: $border;
        padding:15px 0;

        &:first-child {
            border-left:none;
        }
        &:nth-child(1) {
            color:rgb(24,219,169);
        }
        &:nth-child(2) {
            color: rgb(0, 195,105);
        }
        &:nth-child(3) {
            color:rgb(0, 212, 252);
        }

        .title {
            font-size:13px;
        }
        .value {
            font-size:30px;
            sub {
                font-size:15px;
                top:0;
                margin-left:5px;
            }
        }
        .icon {
            font-size:40px;
            margin:15px 0;
            display:block;
        }
    }
    
}



/*
 *  STYLE 3
 */

#style-3
{
    &::-webkit-scrollbar-track {
	    background-color: white;;
    }
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: rgb(237, 241, 247);
    }
	
}



.place-container {
    margin:10px 3.5px 0 0;


    .next-button {
        margin-top:30px;
        display:inline-block;
    }
    
    .value-box {
        font-size:35px;
        padding-top:0px;
        color:#9aa7ba;

        .value {
            padding-top:30px;
            sup {
                font-size:16px;
            }
        }
    }
    .icon-round-next {
        $size:40px;
        box-shadow: 0px 0px 0px 4px rgb(248, 249, 251);
        border:1px solid rgb(221, 224, 232);
        width:$size;
        height:$size;
        border-radius:100%;
        color: rgb(185, 195, 213);
        text-align:center;
        padding:5px;
        font-size:21px;
        display:inline-block;

        @include transition(all .5s);
        
        &:hover {
            background: $theme-color;
            color: white;
        }
    }
    .list {
        list-style: none;
        font-size:13px;
        li {
            padding:7.5px 0;
        }
    }
    .place-row {
        padding:15px 30px;
        display:flex;
        border-bottom: 1px solid #f1f3f7;
    }
    .column {
        flex:1;
    }
    
    h4 {
        font-size:13px;
        color: rgb(195, 203, 212);
    }
    h2 {
        margin:10px 0;

        text-transform: uppercase;
        font-size:14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: rgb(159, 169,187);
    }
    
    .title-icon {
        
        .icon {
            font-size:60px;
        }
    }
}