@import 'injects';

.sidebar {
	&::-webkit-scrollbar-track {
    background-color: white;;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(237, 241, 247);
  }

	@include gradient($theme-color-500, $theme-color-700, $theme-color-900  );
	@include transition(width 0.3s);
	position: fixed;
	left:-300px;
	top:0px;
	bottom:0;
	width:300px;
	overflow-x: hidden;
	&.active{
		@include transition(left .5s);
		left:0;

	}
	.calendar-box {
		min-height:200px;
		display: inline-block;
		width:100%;
	}

	h2 {
		font-size:16px;
		text-transform: uppercase;
		color: rgb(218, 245, 233);	
		text-align: center;
		font-weight: bold;
	}
	
	.bordered-bottom {
		padding-bottom:10px;
		border-bottom:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}


	.bordered-top {
		padding-top:10px;
		border-top:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}

	.padding-medium {
		padding:15px 0;
	}
	.medium-icon-widget {
		flex:1;
		.value, .icon, .title , .midVal{
			display:block;
			text-align:center;
			font-size:12px;
			color:white;
		}
		.icon {
			font-size:30px;
		}
		.midVal{
			font-size:28px;
		}
	}

	.large-icon-widget {
		text-align:center;
		flex:1;
		padding-bottom: 15px;
		.value, .icon {
			font-size:42px;
			color:white;
		}
	}

	.medium-icon-widget-wrapper{
		.flex-item{
			border-right: 1px solid rgba(255, 255, 255, 0.2);
			&:last-child{
				border-right: 0;
			}
		}
	}
	@media (min-width: $screen-desktop){
		left:100px;
	}
	@media (min-width: $screen-xlg-desktop){
		width:350px;
	}
}
.sidebar-no-widget-message {
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}