<div id="modes-wrapp">
  <div class="col-md-12">
    <div class="col-sm-7 title">
      Away mode :
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="c-switch small">
          <input id="away-mode" class="cmn-toggle cmn-toggle-round" type="checkbox">
          <label for="away-mode" data-checked="" data-unchecked=""></label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-sm-7 title">
      Frost-Guard mode :
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="c-switch small">
          <input id="frost-guard-mode" class="cmn-toggle cmn-toggle-round" checked type="checkbox">
          <label for="frost-guard-mode" data-checked="" data-unchecked=""></label>
        </div>
      </div>
    </div>
  </div>
</div>