@import 'injects';

#modes-wrapp{
    height: auto;
    overflow: hidden;
    .row{
        margin-top:-10px;
    }
    .title{
        font-size: 17px;
        color: #bbbdc3;
        font-weight: bold;
        padding-top: 10px;
    }
}

