<!-- Navigation -->
<nav class="navigation">
    <div class="nav-item-container">    
        <a routerLink='/index' routerLinkActive="active"><i class="icon icon-home-outline"></i>Home</a>
        <a routerLink='/devices' routerLinkActive="active"><i class="icon icon-keyboard"></i>Devices</a>
        <a routerLink='/locations' routerLinkActive="active"><i class="icon icon-location"></i>Locations</a>
        <a routerLink='/activities' routerLinkActive="active"><i class="icon icon-camera-alt"></i>Activities</a>
        <!--<a routerLink='/settings' routerLinkActive="active"><i class="icon icon-sliders"></i>Settings</a>-->
    </div>
</nav>