$screen-xs:                  480px;
$screen-phone-min:           $screen-xs; // 480px
$screen-phone:               $screen-phone-min; // 480px

$screen-sm:                  768px;
$screen-tablet-min:          $screen-sm; //768px
$screen-tablet:              $screen-tablet-min; //768px

$screen-md:                  992px;
$screen-desktop-min:         $screen-md; //992px
$screen-desktop:             $screen-desktop-min; //992px

$screen-lg:                  1200px;
$screen-lg-desktop-min:      $screen-lg; //1200px
$screen-lg-desktop:          $screen-lg-desktop-min; //1200px

$screen-xlg:                 1600px;
$screen-xlg-desktop-min:     $screen-xlg; //1600px
$screen-xlg-desktop:         $screen-xlg-desktop-min; //1600px

$screen-phone-max:           ($screen-tablet-min - 1); //767px
$screen-tablet-max:          ($screen-desktop-min - 1); //991px
$screen-desktop-max:         ($screen-lg-desktop-min - 1); //1199px
$screen-lg-desktop-max:      ($screen-xlg-desktop-min - 1); //1599px

//Custom For special device
$screen-1366:                1366px;
$screen-1366-min:            $screen-1366; //1366px

@mixin phone {
  @media (max-width: #{$screen-phone-max}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$screen-desktop-max}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (max-width: #{$screen-lg-desktop}) {
    @content;
  }
}

@mixin desktop-xlg {
  @media (min-width: #{$screen-xlg-desktop}) {
    @content;
  }
}