// mixins
@mixin transform($parameter){
  -webkit-transform: $parameter;
  -moz-transform: $parameter;
  -o-transform: $parameter;
  -ms-transform: $parameter;
  transform: $parameter;
}
@mixin transition($parameter){
  -webkit-transition: $parameter;
  -moz-transition: $parameter;
  -o-transition: $parameter;
  -ms-transition: $parameter;
  transition: $parameter;
}
@mixin shadow($parameter){
  -webkit-box-shadow: $parameter;
  -moz-box-shadow: $parameter;
  -o-box-shadow: $parameter;
  -ms-box-shadow: $parameter;
  box-shadow: $parameter;
}

/// generate gradient color
@mixin gradient($color1,$color2,$color3){
  background: $color1;
	background: -moz-linear-gradient(top, $color1 0%, $color2 49%, $color3 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(49%, $color2), color-stop(100%, $color3));
	background: -webkit-linear-gradient(top, $color1 0%, $color2 49%, $color3 100%);
	background: -o-linear-gradient(top, $color1 0%, $color2 49%, $color3 100%);
	background: -ms-linear-gradient(top, $color1 0%, $color2 49%, $color3 100%);
	background: linear-gradient(to bottom, $color1 0%, $color2 49%, $color3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color3}, GradientType=0 );
}