/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/css/icomoon.css";
@import "assets/fonts/css/FFF-Forward.css";
@import "injects";
@import './assets/material-icon';
