/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/css/icomoon.css";
@import "assets/fonts/css/FFF-Forward.css";
@import "injects";
@import './assets/material-icon';

body {
    // background: #e9eaec;
    background: #fff;
}
.simplebar-scrollbar{
    width: 5px !important;
    background: rgba(0, 0, 0, 0.5) !important;
}