/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/fonts/css/fontello.css";

body {
  position: relative;
}
$white:           #FFFFFF;
$black:           #000000;
$background:      #FFFFFF;
$shadow:          rgba(0,0,0,0.3);
$leftNav:         #1a1a1c;
$leftAcc:         rgb(0,203,122);
$theme-color: $leftAcc;
$appinfo:        #eef1f8;
$container: rgb(238,241,247);







$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

app-root {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}



*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

.app-container {

	display:flex;
	height:100vh;
	/* Apply rule only on small devices */
	@media (max-width: $screen-sm-max) {
		flex-direction: column;
	}
}



nav.navigation {

	$icon: rgb(127,127,127);
	$hover: rgb(49,52,53);
	$icon-active: rgb(170,170,170);
	background: $leftNav;
	flex:1;

	/* Apply rule only on large devices */
	@media (min-width: $screen-md-min) {
		max-width: 90px;	
	}

	ul {
		li {
			a {
				box-sizing: content-box;
				text-decoration: none;
				display: block;
				text-align: center;
				padding: 15px 0;
				color: $icon;
				font-size:13px;
				i {
					display:block;
					font-size:30px;
					padding-bottom:0px;
				}
				&:hover, &.active {
					i {
						color: $icon-active;
					}
					border-left:3px solid $theme-color;
					background-color: $hover;
					padding-right:3px;
					cursor: pointer;
				}
			}
		}
	}


}

.flex-container {
	display: flex;
}

.margin-bottom {
	margin-bottom:15px;
}

.quick-status {
	background:$theme-color;
	flex:1;

	$smoothBorder: 1px solid rgba(220,220,220,0.5);

	/* Apply rule only on large devices */
	@media (min-width: $screen-md-min) {
		max-width:250px;
	}

	.calendar-box {
		min-height:200px;
		display: inline-block;
		width:100%;
	}

	.docked {
		margin-right:30px;
		margin-left:30px;
	}
	h2 {
		font-size:16px;
		text-transform: uppercase;
		color: rgb(218, 245, 233);	
	}
	
	.large-icon-widget {
		text-align:center;
		flex:1;
		.value, .icon {
			font-size:26px;
			color:white;
		}
	}
	
	
	.medium-icon-widget {
		border-right:$smoothBorder;
		flex:1;
		&:last-child {
			border-right:none;
		}
		.value, .icon, .title {
			display:block;
			text-align:center;
			font-size:11px;
			color:white;
		}
		.icon {
			font-size:22px;
			-webkit-animation:spin 9s linear infinite;
			-moz-animation:spin 9s linear infinite;
			animation:spin 9s linear infinite;
		}
	}

	.large-value-item {
		flex:1;

		sup {
			top:-12px;
			font-size:12px;
		}
		.value,.title {
			color:white;
			text-align:center;
		}
		.value {
			font-size:30px;
		}
	}

	.bordered-bottom {
		padding-bottom:10px;
		border-bottom:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}


	.bordered-top {
		padding-top:10px;
		border-top:$smoothBorder;
		.large-value-item:first-child {
			border-right: $smoothBorder;
		}
	}

	.padding-medium {
		padding:15px 0;
	}

	.single-large-icon {
		text-align:center;
		flex:1;
		.icon {
			color:white;
			font-size:45px;
		}
	}

}

.app-info{
	background:$appinfo;
	max-width: 250px;
	flex:1;
}

.flex-item:nth-child(3) {
	background:$background;
	flex:1;
}

.activity-container {
	background:$container;
	flex:1;
	/* Apply rule only on large devices */
	@media (min-width: $screen-md-min) {
		max-width:275px;
	}
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.page-title {
	background: #00cb7a;
    margin: 0;
    font-size: 23px;
    padding: 10px 15px;
    color: white;
}