/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/css/fontello.css";
@import "vars";
@import "medias";
@import "mixins";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
	font-size:13px;
	color:$primary-text;
	@media (min-width: #{$screen-desktop}){
		font-size:14px;
	}

    overflow-x: hidden;
	&::-webkit-scrollbar-track {
	    background-color: black;
    }
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: silver;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $theme-color;
    }
    margin: 0;
    padding: 0;
	font-size:13px;
	font-family: 'Quicksand', sans-serif;
}

.dashboard-title{
	display:none;
	@media (max-width: #{$screen-tablet-max}){
		display: block;
	}
}

.activity-container {
	background:$container;
}

.flex-container{
	display: flex;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.page-title {
	background: $theme-color;
    margin: 0;
    font-size: 23px;
    padding: 10px 15px;
	color: white;
}