<div class="row">
  <div class="col-md-3 col-6" *ngFor="let statistic of statistics; let i = index;">
    <div class="box-wrapper app-statistics">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="d-2">
          <h2>{{statistic.title | translate}}</h2>
          <p>{{'Number of the' | translate}} {{statistic.title | translate}}</p>
        </div>
        <div class="d-2 app-statistics-value">
          {{statistic.value}}
        </div>
      </div>
    </div>
  </div>
</div>