.device-box-container {
    $context-color:#E3F2FD;
    $background-color: #0D47A1;
    $background-hover:   #2196F3;
    display:inline-block;
    width:31%;

    .vertical-container {
        flex-direction: column;

    }
    .content-padding {
        padding:5px 15px;
    }
    hr {
        margin:5px 0;
    }
    h3 {
        font-size:13px;
        color: $context-color;
        margin-top:0;
    }
    .vertical-row {
        flex:1;
    }
    .device-box {
        display:flex;
        flex-direction: column;
        background-color:$background-color;
        margin:7.5px;
        padding:10px 0;

        h2 {
            margin:0;
            color: $context-color;
        }
        &:hover {
            transition: 0.3s all ease-in-out;
            background-color:$background-hover;
        }

        .description {
            font-size:12px;
            color: $context-color;
        }
        
        .icon {
            font-size:45px;
            color:$context-color;
        }

        .info-box {
            flex:2;
            font-size:16px;
            margin-left:15px;
            
            .name {
                font-size:13px;
                color:$context-color;
            }
        }

        .io-overview {
            flex:1;
            display:flex;
            flex-direction: column;
            .text-info {
                flex:1;
                color: $context-color;
                font-size:30px;
                sup {
                    top:-15px;
                    font-size:12px;
                }
            }
        }
        .controlls {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            label {
                margin:5px 0;
                display: block;
            }
            flex:1;
        }
        
    }
}