<app-page-header [title]="'Devices <sup>' + devices.length + ')</sup>'" icon="icon icon-keyboard"></app-page-header>
<div class="page-description">
  <p>
    Devices currently connected to the software are shown as chipsets below. Maximum recognized pins for community version is 16 pins, which can be configurated as input or output.
  </p>
  <p>
    By Clicking on each pin, you can see the details, and manipulate the value of pin, if it's output. Creating a new device is not allowed in this application, since each device must be self descriptive,
    when sends a new message to the application. On the other hand, you can delete a device, if you disconnected from infrustucture, and if you reconnect, you might see it back, but without any user configured data.
  </p>

</div>
<div class="device-box-container">
  <div *ngFor="let device of devices" class="col-sm-6 padding-box">
     <app-device-svg [device]="device" (onFocusDevice)="clickDispatch($event);"></app-device-svg>
  </div>
</div>

<div class="clearfix"></div>


<app-helper-box (onFocusLost)="unfocus();" [device]="focusedDevice" [pin]="focusedPin">  </app-helper-box>